hp_thermostat_flow.json
[{"id":"cf7a4f18b92cc41a","type":"tab","label":"Thermostaat living","disabled":false,"info":"","env":[]},{"id":"c6194da571791cc3","type":"inject","z":"cf7a4f18b92cc41a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["35978862051e0086"]]},{"id":"35978862051e0086","type":"api-current-state","z":"cf7a4f18b92cc41a","name":"","server":"1837aed2a79711b2","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.thermostaat_living","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":240,"wires":[["bcbffa4c779266c6"]]},{"id":"8d40a381a4b2c9cc","type":"switch","z":"cf7a4f18b92cc41a","name":"","property":"data.attributes.hvac_action","propertyType":"msg","rules":[{"t":"eq","v":"heating","vt":"str"},{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":240,"wires":[["31cb1b32d4a3ab2f"],["a823ae99913e032e"],["97917bf41e91fa34"]]},{"id":"bcbffa4c779266c6","type":"rbe","z":"cf7a4f18b92cc41a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"data.attributes.hvac_action","topi":"topic","x":590,"y":240,"wires":[["8d40a381a4b2c9cc","07f6a651f02a1d30"]]},{"id":"31cb1b32d4a3ab2f","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Koelen uit","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":180,"wires":[["9ff71479f8f51072"]]},{"id":"f774f1aba89a0582","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Ventielen open","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":180,"wires":[["7d2f33dac78d5ee4"]]},{"id":"35232286526e86b1","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Verwarmen aan","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":180,"wires":[["99b17c03d2fe8c9f"]]},{"id":"99b17c03d2fe8c9f","type":"debug","z":"cf7a4f18b92cc41a","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":180,"wires":[]},{"id":"7d2f33dac78d5ee4","type":"delay","z":"cf7a4f18b92cc41a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1400,"y":180,"wires":[["35232286526e86b1"]]},{"id":"9ff71479f8f51072","type":"delay","z":"cf7a4f18b92cc41a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1040,"y":180,"wires":[["f774f1aba89a0582"]]},{"id":"a823ae99913e032e","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Verwarmen uit","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":240,"wires":[["a4bf943a4ef3d4cc"]]},{"id":"29efbca77f841c24","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Ventielen open","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":240,"wires":[["9cf5dca7e8a63026"]]},{"id":"9cf5dca7e8a63026","type":"delay","z":"cf7a4f18b92cc41a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1400,"y":240,"wires":[["b5a3c141671b2a04"]]},{"id":"a4bf943a4ef3d4cc","type":"delay","z":"cf7a4f18b92cc41a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":240,"wires":[["29efbca77f841c24"]]},{"id":"ffca19658989137c","type":"debug","z":"cf7a4f18b92cc41a","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":240,"wires":[]},{"id":"b5a3c141671b2a04","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Koelen aan","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1570,"y":240,"wires":[["ffca19658989137c"]]},{"id":"5bfc3a3662b10996","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Ventielen dicht","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":300,"wires":[["7fa3ac77c52e6b13"]]},{"id":"7fa3ac77c52e6b13","type":"delay","z":"cf7a4f18b92cc41a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1400,"y":300,"wires":[["6603bcd98a09cfc4"]]},{"id":"da2cd201a01c6de5","type":"debug","z":"cf7a4f18b92cc41a","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":300,"wires":[]},{"id":"6603bcd98a09cfc4","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Koelen uit","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":300,"wires":[["da2cd201a01c6de5"]]},{"id":"10d18817f878d3ab","type":"delay","z":"cf7a4f18b92cc41a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":300,"wires":[["5bfc3a3662b10996"]]},{"id":"97917bf41e91fa34","type":"api-call-service","z":"cf7a4f18b92cc41a","name":"Verwarmen uit","server":"1837aed2a79711b2","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.din_rail_interface_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":300,"wires":[["10d18817f878d3ab"]]},{"id":"07f6a651f02a1d30","type":"debug","z":"cf7a4f18b92cc41a","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":360,"wires":[]},{"id":"1837aed2a79711b2","type":"server","name":"Home Assistant","addon":true}]